[2018-01-18 08:25] reju85 opened #25 "building OPX2.2"
Hi,
We are building OPX2.2
When we run package assemble script it also download all the package from scratch so the build takes lot of time.Is there any way to cache so that minimize the build time?

[2018-02-26 22:25] theucke commented on #25
You'll have to be more specific. What do you mean by "package assemble script"? We have a package build script (`opx_build`) and an installer assemble script (`opx_rel_pkgasm.py`), but no package assemble script.

[2018-05-15 05:45] junhengdi opened #30 "openflow"
Hi,I am finding a way to make traditional switch support openflow and so I am building opx. But I want to know whether the opx can support openflow. I can not find the feature on opx about openflow.

[2018-05-15 06:03] junhengdi commented on #30
Now,I can build the unstable opx according to the guide.But when I want to build the release version such as 2.2.0/2.2.1/2.3.0 , there are some error.  When I use the assemble installer script ,it appears. just like this:

Sysroot is in /tmp/tmpjtgsvX
Using copy:/mnt stable main
Using http://deb.openswitch.net/jessie stable main opx opx-non-free
Using http://httpredir.debian.org/debian jessie main

[2018-05-15 06:05] junhengdi commented on #30
commond like this :
OPX_RELEASE=2.3.0 opx-build/scripts/opx_run opx_build all
opx-build/scripts/opx_run opx_rel_pkgasm.py --dist stable \
  -b opx-onie-installer/release_bp/OPX_dell_base.xml

[2018-05-15 16:40] jeff-yin commented on #30
@theucke can you help out @junhengdi with the build issue he indicated above?

[2018-05-15 17:40] theucke commented on #30
@junhengdi That looks like a network issue. I can access the file in the error without issue. Can you try running the command again?

[2018-05-16 02:04] junhengdi commented on #30
Thanks a lot. I  tried many times and finally I got PKGS_OPX-stable.9999-installer-x86_64.bin.It takes lots of time to download all of the packet. By the way, whether the latest version of opx can support openflow?

[2018-05-16 02:07] theucke commented on #30
I'm not sure on openflow support. You'll get the fastest answer to that question in our [RocketChat](https://chat.openswitch.net/channel/general).

[2018-05-16 02:07] #30 closed

[2018-05-16 02:11] theucke commented on #25
OPX packages are cached in the `pool/` directory of your workspace. Debian packages are cached only in the docker container. If the container is removed, those dependencies need to be downloaded again.

`opx_run` removes the container after running. You could start the container without `--rm` and just run `opx_build` inside of the container to keep the container alive.

[2018-05-16 02:11] #25 closed

[2018-05-28 16:13] donnydavis opened #33 "RFE: Include Web Management Console for OPX"
It would be really fantastic to have a web console for OPX OOB.
Including https://cockpit-project.org in the build would be an easy way to get this feature

[2018-05-28 16:17] donnydavis commented on #33
Its seems to work without much in the way of modification

![screenshot from 2018-05-28 12-15-53](https://user-images.githubusercontent.com/15927081/40622745-06e25978-6271-11e8-9ce1-62d21c5c77a8.png)

[2018-05-29 23:18] theucke opened #34 "Case-sensitivity differences cause opx-core build to fail"
https://github.com/open-switch/opx-build/blob/5975bf9b98a16bbeb7c29c0e474d53eb5de4deae/scripts/opx_build#L65

On case-insensitive systems, the build works. Some systems are case-sensitive, so the build fails.

[2018-05-29 23:21] theucke commented on #34
I'll probably close this in favor of open-switch/opx-core#2.

[2018-05-29 23:52] theucke commented on #34
Maybe not. `dpkg-deb` uses `DEBIAN/`, not `debian/`. @atanu-mandal

[2018-05-30 00:15] #34 closed

[2018-05-30 18:06] jeff-yin commented on #33
Hi @donnydavis, that looks cool. We've also tried this out with [webmin](http://www.webmin.com/) before and it also worked pretty well. Have you tried webmin? If so, how do you think it compares to cockpit?

[2018-06-11 09:57] kot-begemot-uk opened #37 "Does not build with latest"
When building opx-base-model build fails with

configure: WARNING: unrecognized options: --disable-maintainer-mode
   dh_auto_build
	make -j1
make[1]: Entering directory '/build/opx-base-model-3.112.0'
YANG_PATH=/build/opx-base-model-3.112.0/common/yumaworks:/build/opx-base-model-3.112.0/rfc:/build/opx-base-model-3.112.0/common/dell:/build/opx-base-model-3.112.0/yang-models /usr/lib/opx/ar_parse_y

[2018-06-11 16:11] theucke commented on #37
It doesn't seem like it is anymore in Stretch: https://packages.debian.org/stretch/python-pkg-resources

`python-pkg-resources` needs to be added as a build dependency to `opx-base-model`.

[code]

Then `opx-base-model` will build. I've opened open-switch/opx-base-model#27 for this.

[2018-06-20 17:10] #37 closed

[2018-08-01 03:31] jimmymagemtek opened #40 "Can't build opx-onie-installer"
[code]

Any suggestion is appreciated~

[2018-08-07 11:46] jimmymagemtek opened #41 "mkdir: cannot create directory 'pool': Permission denied"
[root@localhost opx]# opx-build/scripts/opx_run opx_build all
INFO[0021] POST /v1.20/containers/create?name=jimmy_opx_2554
INFO[0021] POST /v1.20/containers/78946e23450efddab7813ca0cfad85a84bc1dddf20e1bf0b89a86d7dfd04b8db/attach?stderr=1&stdin=1&stdout=1&stream=1
INFO[0021] POST /v1.20/containers/78946e23450efddab7813ca0cfad85a84bc1dddf20e1bf0b89a86d7dfd04b8db/start
INFO[0021] POST /v1.20/containe

[2018-08-07 20:39] theucke commented on #41
I'm unable to reproduce this error, unless I'm root and trying to write to a NFS volume with `root_squash` turned on. Does this sound like your environment? We avoid this by not running as root.

[2018-08-08 06:25] jimmymagemtek commented on #41
Thanks.
I download & build opx again with normal user privilege, and run docker & build opx with root privilege.
Then it is building properly & the previous error is gone.

But I still don't know why.

[2018-08-08 06:30] jimmymagemtek opened #42 "building opx without docker"
The default way of building opx seems to assume it will run under docker.

Can I build a version not for a docker environment ?
Since I can't make docker run properly on old-version Fedora.

Any suggestion is appreciated.

[2018-08-08 17:36] theucke commented on #42
Sure, just set up your environment like in the Dockerfile. We use `git-buildpackage` to build our Debian packages. Dependencies come from http://deb.openswitch.net/

[2018-08-08 17:36] #42 closed

[2018-08-08 17:36] #41 closed

[2018-08-09 08:50] jimmymagemtek commented on #40
Without using onie installer, can I just install all the *.deb in each folder under "pool", one by one, to the target platform's rootfs ?

Any suggestion is appreciated.

[2018-08-09 16:06] theucke commented on #40
Fakechroot segfaults usually come from some libc mismatch. Are you trying to build a Jessie or Stretch installer?

- If stretch, change the blueprint from `opx-onie-installer/release_bp/OPX_dell_base.xml` to `opx-onie-installer/release_bp/OPX_dell_base_stretch.xml`
- If jessie, build using a Jessie-based Docker image with `VERSION=jessie DIST=jessie opx-build/scripts/opx_run opx_rel_pkgasm.py --di

[2018-08-10 02:38] jimmymagemtek commented on #40
Thanks.

root@debian:/home/jimmy/opx# opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable -b opx-onie-installer/release_bp/OPX_dell_base_stretch.xml
fetching http://archive.openswitch.net/rootfs/opx-rootfs_1.0.7-stretch_amd64.tar.gz ...
Traceback (most recent call last):
  File "/opt/opx-build/scripts/opx_rel_pkgasm.py", line 1403, in <module>
    sys.exit(main())
  File "/opt/opx-build/sc

[2018-08-10 16:46] theucke commented on #40
Looks like a network issue on your end. Can you try manually downloading the tarball in your log?

[2018-08-13 02:32] jimmymagemtek commented on #40
Thanks. You are right.
I re-try the command. and I could download tar ball this time, but still got another error:

root@debian:/home/jimmy/opx# opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable -b opx-onie-installer/release_bp/OPX_dell_base_stretch.xml
fetching http://archive.openswitch.net/rootfs/opx-rootfs_1.0.7-stretch_amd64.tar.gz ...
tar_in(self, /tmp/tmp5z8ZXH, /)
tar_in(['fakeroo

[2018-08-13 03:32] theucke commented on #40
Can you try as a regular user and not root?

[2018-08-13 05:17] jimmymagemtek commented on #40
A regular user got permission denial as below,

jimmy@debian:~/opx$ opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable -b opx-onie-installer/release_bp/OPX_dell_base_stretch.xml
docker: Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.38/containers/create?name=jimmy_opx_20239: dial unix /var

[2018-08-13 18:54] theucke commented on #40
The first error comes from not setting up Docker for your user: https://docs.docker.com/install/linux/linux-postinstall/

Once you fix that, try it again without sudo.

[2018-08-14 02:28] jimmymagemtek commented on #40
I set up docker & tried it without sudo, and I got the same error,

jimmy@debian:~/opx$ opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable -b opx-onie-installer/release_bp/OPX_dell_base_stretch.xml
fetching http://archive.openswitch.net/rootfs/opx-rootfs_1.0.7-stretch_amd64.tar.gz ...
tar_in(self, /tmp/tmpKHLpsx, /)
tar_in(['fakeroot', '-i', '/tmp/tmphIavB7', '-s', '/tmp/tmphIavB7', 'tar'

[2018-08-14 02:32] jimmymagemtek commented on #40
I set up docker for my user & tried it without sudo, and I got the same issue with root's,

jimmy@debian:~/opx$ opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable -b opx-onie-installer/release_bp/OPX_dell_base_stretch.xml
fetching http://archive.openswitch.net/rootfs/opx-rootfs_1.0.7-stretch_amd64.tar.gz ...
tar_in(self, /tmp/tmpKHLpsx, /)
tar_in(['fakeroot', '-i', '/tmp/tmphIavB7', '-s',

[2018-08-14 02:35] jimmymagemtek commented on #40
I set up docker for my user & tried it without sudo, and I got the same issue as using root,

jimmy@debian:~/opx$ opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable -b opx-onie-installer/release_bp/OPX_dell_base_stretch.xml
fetching http://archive.openswitch.net/rootfs/opx-rootfs_1.0.7-stretch_amd64.tar.gz ...
tar_in(self, /tmp/tmpKHLpsx, /)
tar_in(['fakeroot', '-i', '/tmp/tmphIavB7', '-s

[2018-08-14 08:15] jimmymagemtek opened #43 "opx built for aarch64 (arm 64 bits)"
I try to build opx on aarch64 (arm 64 bits), and got the following error,

jimmy@alex-VirtualBox:/home/jimmy/opx$ sudo opx-build/scripts/opx_run opx_build all
Unable to find image 'opxhub/build:latest' locally
latest: Pulling from opxhub/build
55cbf04beb70: Pull complete
4dfddf601f24: Pull complete
d9dcd9e1d8c0: Pull complete
0f8185032660: Pull complete
b4864de97746: Pull complete
843e91e5dbe7: Pu

[2018-08-15 03:30] jimmymagemtek commented on #43
It looks like that my issue is the same with the one below,

https://github.com/ethereum/go-ethereum/issues/3775

Can OPX provide the docker images for aarch64 compliing ?
Any suggestion is appreciated.

[2018-08-15 16:46] theucke commented on #43
You are correct. We do not currently provide aarch64 support.

[2018-08-15 16:46] #43 closed

[2018-08-17 07:09] jimmymagemtek opened #44 "Can't build docker image"
I run the script "docker_build.sh" under the folder "opx-build", and it turns out to print error messages as below,
.
.
.
Selecting previously unselected package openssl.
Preparing to unpack .../openssl_1.0.1t-1+deb8u8_amd64.deb ...
Unpacking openssl (1.0.1t-1+deb8u8) ...
dpkg (subprocess): unable to execute rm command for cleanup (rm): Invalid argument
dpkg: error while cleaning up:
 subprocess r

[2018-08-17 09:07] jimmymagemtek commented on #40
18.06.0-ce

[2018-08-17 10:47] jimmymagemtek commented on #40
I re-built it using normal user priviledge, instead of root. And it passes.
Thanks for helping~

[2018-08-17 10:47] #40 closed

[2018-08-17 16:32] jeff-yin commented on #40
Awesome!

[2018-08-20 09:04] jimmymagemtek opened #45 "failed to build docker image for arm64v8"
I install the opx package on arm64 platform (Cavium CN83XX) with ubuntu 16.4

Under the directory "opx-build",
1)  I modified the Dockerfile's first line
"FROM debian/stretch" as "FROM arm64v8/debian:stretch".

2) I modified "docker_build.sh" 's arch from "amd64" to "armhf".

3) I modified the key word "amd64" inside all the script files under the directory "opx-build/scripts" to "arm64"

After ru

[2018-08-21 00:09] jeff-yin commented on #45
Unfortunately arm64 isn't currently a supported architecture in OpenSwitch. I'll close the issue for now, but you can open an enhancement request that we can leave as an open issue to address in the future. Or you can re-open and edit this issue, then label it as an "enhancement"

[2018-08-21 00:09] #45 closed

[2018-08-21 09:02] jimmymagemtek opened #46 "Can't build docker image on debian 9.5"
I run the script file "docker_build.sh" under the folder "opx-build", and got the error message below,
.
.

I: Extracting mount...
I: Extracting util-linux...
I: Extracting liblzma5...
I: Extracting zlib1g...
W: Failure trying to run: chroot /var/cache/pbuilder/base-jessie-armhf.cow dpkg-deb -f /var/cache/apt/archives/dpkg_1.17.27_armhf.deb Version
W: See /var/cache/pbuilder/base-jessie-armhf.cow/

[2018-08-21 16:54] theucke commented on #44
Looks like a dpkg error. Did you try running it a second time without sudo? I just tried running it on Ubuntu 16.04 and it works fine.

<details><summary>Full log</summary>
<p>

## Setup

[code]

## Build

[code]

## List images

[code]

</p>
</details>

[2018-08-22 02:38] jimmymagemtek commented on #44
I am sorry to tell you that I following what you did while still got a error as below,

I: new cache content 'libcurl3_7.38.0-4+deb8u11_amd64.deb' added
I: new cache content 'libssh2-1_1.4.3-4.1+deb8u1_amd64.deb' added
I: new cache content 'librtmp1_2.4+20150115.gita107cef-1+deb8u1_amd64.deb' added
I: new cache content 'libidn11_1.29-1+deb8u2_amd64.deb' added
I: new cache content 'python-setuptool

[2018-08-22 03:25] jimmymagemtek commented on #46
I re-do the  steps all over again, and it is working today.
I don't know why, but I will close this issue.

[2018-08-22 03:25] #46 closed

[2018-08-29 19:56] jeff-yin commented on #44
@jimmymagemtek are you still running into this error? Or are you able to build now?

[2018-08-30 18:14] evwarner opened #47 "Errors building onie"
Running Debian 9.5 and have tried several ways.  Have had no issues building the open-switch software, just can't get the Onie installer to compile:

gms@debian:~/openswitch$ opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable -b opx-onie-installer/release_bp/OPX_dell_base.xml
fetching http://archive.openswitch.net/rootfs/opx-rootfs_1.0.7-jessie_amd64.tar.gz ...
tar_in(self, /tmp/tmplQ3ilM

[2018-08-31 16:08] theucke commented on #47
Building the Jessie-based installed in a Jessie container may help with this fakechroot segfault. Add the `DIST=jessie VERSION=jessie` variables.

[code]

[2018-08-31 16:30] evwarner commented on #47
Did get somewhat farther but bombed out later on.  See below.  Is there a stretch version?

.  .  .
installed_packages(self)
installed_packages
['fakechroot', 'fakeroot', '/usr/sbin/chroot', '/tmp/tmplcVIEq', 'apt', 'list', '--installed']

WARNING: apt does not have a stable CLI interface yet. Use with caution in scripts.

dpkg-scanpackages: info: Wrote 119 entries to output Packages file.
add_pac

[2018-08-31 16:50] theucke commented on #47
Ah, our unstable distribution of Jessie packages is broken at the moment. You can use 2.3.1 instead for our most recent Jessie release.

Yes, there is a Stretch blueprint, just use the file `opx-onie-installer/release_bp/OPX_dell_base_stretch.xml`.

[2018-08-31 17:08] evwarner commented on #47
Yep, that worked!  And 2.3.1 was what was desired anyway.

Hey, thanks for the help.

--ericw

From: Tyler Heucke <notifications@github.com>
Sent: Friday, August 31, 2018 9:50 AM
To: open-switch/opx-build <opx-build@noreply.github.com>
Cc: Eric Warner <EWarner@gms4sbc.com>; Author <author@noreply.github.com>
Subject: Re: [open-switch/opx-build] Errors building onie (#47)

Ah, our unstable distribu

[2018-09-02 05:43] #47 closed

[2018-09-02 06:41] alexyeh1 opened #48 "openswitch is not supported even without docker build"
Hi Admin,

Try to build opx image on debian stretch arm64 platform, and choose native compile without docker. However, the openswithc official site is said no arm64 support available based on Dockerfile item4.

Step:
# Add OPX package sources
mkdir -p /etc/apt/sources.list.d/
echo "deb http://deb.openswitch.net/$DIST unstable main opx opx-non-free" >>/etc/apt/sources.list.d/opx.list
echo "deb-src

[2018-09-02 13:47] alexyeh1 commented on #48
[opx_debian_build.txt](https://github.com/open-switch/opx-build/files/2343389/opx_debian_build.txt)
Hi,

Refer to the attched file opx_debian_build.txt, now I can build opx-core and opx-logging on arm64 native environment. However, I get failure due to wrong dependencies when building opx-common-utils. It looks like I need to put libopx-logging-dev lib somewhere to make it success. Could you provi

[2018-09-04 07:07] jimmymagemtek opened #49 "dependency issue when building each package"

[2018-09-04 07:14] #49 closed

[2018-09-04 07:32] jimmymagemtek opened #50 "libopx-logging-dev issuse"
Some packages (like opx-common-utils) )depends on libopx-logging-dev, but it seems not built from the package "opx-logging".

Where can I get libopx-logging-dev ?
Thanks.

/etc/apt/sources.list.d/opx.list
--------------------------------
deb http://deb.openswitch.net/stretch unstable main opx opx-non-free
deb-src http://deb.openswitch.net/stretch unstable opx

[ 1017.593931] systemd-journald[2072]

[2018-09-04 13:59] atanu-mandal commented on #50
hi @jimmymagemtek , Can you check if you have opx-logging repo built successfully, essentially that should generate libopx-logging-dev.
[https://github.com/open-switch/opx-logging/blob/cf50b5176314d38a2bb8aa9955f3060b45d24205/debian/control#L21](url)

Thanks,
-Atanu

[2018-09-05 02:16] jimmymagemtek commented on #50
Hi Altanu,
I found the root cause might be that I can't get
http://deb.debian.org/debian/dists/stretch/InRelease or
http://deb.openswitch.net/stretch/dists/unstable/InRelease ',  since I am using arm64 platform.

Could you please provide the arm64-version InRelease files & the associated binaries ?

Thanks.

[2018-09-05 02:49] alexyeh1 commented on #48
Now I can build opx-common-utils successfully by coping all necessary deb files to /mnt/pool/stretch-arm64.

when finishing one item, please copy all *.deb unser /mnt/pool/stretch-arm64
for example "cp pool/stretch-arm64/opx-cps/*.deb /mnt/pool/stretch-arm64"

[2018-09-05 02:49] #48 closed

[2018-09-10 23:59] jeff-yin commented on #50
Sorry, at this moment we only have support for x86.

[2018-09-10 23:59] #50 closed

[2018-09-11 00:08] jeff-yin commented on #44
Closing due to lack of response

[2018-09-11 00:08] #44 closed

[2018-09-11 09:30] jimmymagemtek opened #51 "no such file: <sys/io.h> when buidling opx-sdi-sys"
When building opx-sdi-sys package, the log prints the following error:

libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I./inc/opx -I/usr/include/opx -I./io
libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I./inc/opx -I/usr/include/opx -I./io
In file included from src/framework/sdi_bus_api.c:31:0:
./inc/opx/private/sdi_io_port_api.h:34:20: fatal error: sys/io.h: No such file y
 #include <sys/io.h>

[2018-09-11 11:35] jimmymagemtek commented on #51
It seems a glibc installation issue.

[2018-09-11 11:35] #51 closed

[2018-09-17 08:09] jimmymagemtek opened #52 "Can't install opx deb file with service to be enabled"
Hi
I am try to install the various deb files on AMD64(x86, Debian stretch) manually , but I found many of them failed to install service. Taking opx-alarm as an example:

root@NB03:/home/opx/pool/stretch-amd64/opx-alarm# dpkg -i opx-alarm_1.0.3_all.deb
(Reading database ... 136751 files and directories currently installed.)
Preparing to unpack opx-alarm_1.0.3_all.deb ...
Unpacking opx-alarm (1.0.3

[2018-09-17 08:45] jimmymagemtek opened #53 "Can't install opx-ip service"
Hi
When installing opx-nas-linux_5.24.0_amd64.deb , I got the following error message:

root@NB03:/home/opx/pool/stretch-amd64/opx-nas-linux# dpkg -i opx-nas-linux_5.24.0_amd64.deb
(Reading database ... 136751 files and directories currently installed.)
Preparing to unpack opx-nas-linux_5.24.0_amd64.deb ...
Unpacking opx-nas-linux (5.24.0) over (5.24.0) ...
Setting up opx-nas-linux (5.24.0) ...
Jo

[2018-09-17 19:44] Tejaswi-Goel commented on #53
Which platform is this?

[2018-09-17 21:49] nchervela commented on #52
@jimmymagemtek  which platform are you doing this on?  I just tried this on S6000 platform, and it works fine.  thanks.

root@OPX:/tmp# dpkg -i opx-alarm_1.0.3_all.deb
dpkg: warning: downgrading opx-alarm from 1.0.3+git20180710.b20dfe4 to 1.0.3
(Reading database ... 27333 files and directories currently installed.)
Preparing to unpack opx-alarm_1.0.3_all.deb ...
Unpacking opx-alarm (1.0.3) over (1

[2018-09-18 01:56] jimmymagemtek commented on #53
Debian 9.5 in x86 (AMD64)

[2018-09-18 02:00] jimmymagemtek commented on #52
Debian 9.5 on x86 NB

[2018-09-18 21:45] atanu-mandal commented on #53
Is it an OPX supported platforms that you are trying on ? Also would like to understand your installation procedure, can you please shed some light on that ?

[2018-09-18 21:48] atanu-mandal commented on #52
Looks like you are talking on the same context (as far the as the environment is concerned) i.e. https://github.com/open-switch/opx-build/issues/53
So the same comment applies...
Is it an OPX supported platforms that you are trying on ? Also would like to understand your installation procedure, can you please shed some light on that ?

[2018-09-19 03:13] jimmymagemtek commented on #52
Sure. I re-do every thing again this morning.
My install sequence is as  below,
opx-common-utils
opx-cps
opx-db-sql
opx-base-model
opx-cps

When I was installing one of the deb files under ~/opx/pool/stretch-amd64/opx-cps,
I got the following error.
BTW, I by-pass docker & build opx packages according to Dockerfile.
Please help. Thanks.

root@NB03:/home/opx/pool/stretch-amd64/opx-nas-common# dpkg

[2018-09-19 05:47] jimmymagemtek commented on #53
This issue is closed because it is the same as issue #52.

[2018-09-19 05:47] #53 closed

[2018-09-19 11:06] jimmymagemtek commented on #52
Hi
I found the root cause might be that, the installation of the deb files have dependency, and those of opx-platform-config should be installed first.

[2018-09-19 16:32] nchervela commented on #52
@jimmymagemtek yes, If a complete OPX installation is done the first time, all dependencies are resolved, and all packages needed for a particular service are installed first.  Future installations of a particular package will go thru smoothly, because the dependencies were already resolved during the OPX install.  In your case, since you are installing just some packages (without a prior OPX inst

[2018-09-19 23:36] Tejaswi-Goel commented on #52
One easy method is to install the **top level package** for your platform, it will install all other required opx packages in dependency order. Procedure:
1) Add line "deb http://deb.openswitch.net/stretch 3.0.0 opx opx-non-free" in /etc/apt/sources.list
2) apt-get update and upgrade
3) apt-get install **opx-dell-vm** ( this is the **top level package** , it will install all the platform dependent

[2018-09-20 02:30] jimmymagemtek opened #54 "Can't install all the deb files under opx-sdi-sys"
Hi Sir,
opx-platform-config-dell-s5148f depends on both libopx-sdi-sys1&  libopx-sdi-sys-vm1.
But, libopx-sdi-sys1 &  libopx-sdi-sys-vm1 conflict to each other.
Any suggestion is appreciated.

root@NB03:/home/opx/pool/stretch-amd64/opx-sdi-sys# dpkg -i libopx-sdi-sys-vm1_4.22.2_amd64.deb
Selecting previously unselected package libopx-sdi-sys-vm1.
dpkg: regarding libopx-sdi-sys-vm1_4.22.2_amd64.deb

[2018-09-20 02:47] jimmymagemtek commented on #52
Hi Tejaswi,
Thanks.
But the installation of opx-dell-vm depends on opx-core, and opx-core depends on more packages.
It becomes an endless installation loop. Please help.

root@NB03:/home/opx/pool/stretch-amd64/opx-sdi-sys# apt-get install opx-dell-vm
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt --fix-broken install' to correct

[2018-09-20 04:31] Tejaswi-Goel commented on #52
try runing apt --fix-broken install, may be it will resolve the issue.

[2018-09-20 06:30] jimmymagemtek commented on #52
Hi Tejaswi
I prepare a clean environment & try apt-get install opx-dell-vm again.
The message is as below:

root@NB03:/home/opx# apt-get install opx-dell-vm
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that som

[2018-09-20 18:59] jeff-yin commented on #52
Hi @jimmymagemtek -- we'll definitely look into the dependency loop in `opx-core`, but running OPX directly on a Debian "desktop environment" like a notebook isn't currently supported. I think you'll eventually run into a wall with driver support. We suggest running OPX as a VM on top of kvm or ESXi instead.

If you need to get up and running with OPX on a notebook, please do so on top of a VM env

[2018-09-20 19:14] atanu-mandal commented on #54
Hi @jimmymagemtek , I assume you are trying on real S5148 . You do not require libopx-sdi-sys-vm1 as that is meant for VM platform. BTW opx-platform-config-dell-s5148f  shouldn't depend on  libopx-sdi-sys-vm1, it depends on only libopx-sdi-sys1.

[2018-09-21 02:09] jimmymagemtek commented on #52
Hi Jeff,
My target platform is a switch with Intel Atom C2538 . And I am using a mSata disk to install OPX on NB first, for my convenience. After that, I will put mSata disk back to the embeded platform.

Please help on this dependency loop issue.
Or is there a systematic way to install all the deb files according to the model type ?
Thanks.

Jimmy

[2018-09-25 03:54] jimmymagemtek commented on #52
my sources.list:

root@NB03:/etc/apt# cat sources.list
#

# deb cdrom:[Debian GNU/Linux 9.5.0 _Stretch_ - Official amd64 DVD Binary-1 20180714-10:25]/ stretch contrib main

#deb cdrom:[Debian GNU/Linux 9.5.0 _Stretch_ - Official amd64 DVD Binary-1 20180714-10:25]/ stretch contrib main

deb http://security.debian.org/debian-security stretch/updates main contrib
deb-src http://security.debian.org/de

[2018-09-25 18:45] nchervela commented on #52
@jimmymagemtek Since you are not running OPX as a VM, can you pls try installing only the platform-independent packages (opx-core).  I was able to do this using the following steps.  Pls start with a clean system.

root@nalini:~# uname -a
Linux nalini 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 GNU/Linux

1. vi /etc/apt/sources.list
deb http://deb.openswitch.net/stretch 3.0.0 o

[2018-09-26 00:38] nchervela commented on #52
@jimmymagemtek After doing the above, I was able to start the alarm service as follows-

root@nalini:~# dpkg -i /tmp/opx-alarm_1.0.3_all.deb
(Reading database ... 33346 files and directories currently installed.)
Preparing to unpack /tmp/opx-alarm_1.0.3_all.deb ...
Unpacking opx-alarm (1.0.3) over (1.0.3) ...
Setting up opx-alarm (1.0.3) ...
root@nalini:~#
root@nalini:~#
root@nalini:~# systemctl s

[2018-09-26 02:05] jimmymagemtek commented on #52
Hi ,
I updated the sources.list , following the instructions on Intel Atom C2538, but got nothing upgraded. And I also got the error message when install opx-core:

root@NB03:/etc/apt# apt-get update
Ign:1 http://debian.linux.org.tw/debian stretch InRelease
Hit:2 http://debian.linux.org.tw/debian stretch Release
Ign:3 http://deb.debian.org/debian stretch InRelease
Get:4 http://deb.debian.org/debia

[2018-09-27 18:57] nchervela commented on #52
@jimmymagemtek When you say clean environment, did you mean the following?

apt-get purge opx-dell-vm opx-core
apt-get autoremove --purge
apt-list --installed | grep opx (the list should be completely empty).

[2018-09-28 00:47] jimmymagemtek commented on #52
Hi
A clean environment means:
1) a newly installed Debian 9.5 on Intel AMD C2538
2) setup the environment & install the tools according to the description of  Dockerfile, manually. In other words, no docker.
3) build the OPX packages and get the deb files.

And when I managed to install the deb files manually, I got dependency problems.

Jimmy

[2018-09-28 18:00] nchervela commented on #52
In #3 above....any reason to build OPX packages and manually install the deb files, instead of doing
apt-get update
apt-get upgrade
apt-get install opx-core

We are trying to reproduce the issue that you are seeing, but with the steps that I outlined in my previous comment, we see no such issues when installing opx-core.  Once opx-core is successfully installed, manually copying and installing the

[2018-09-29 05:17] jimmymagemtek commented on #52
Hi,
I already did what you suggested,(In fact, I already posted the result):
apt-get update
apt-get upgrade
apt-get install opx-core

but still got the dependency error message of opx-core.

I believe the reason why you can't see the issue on your side is that, you clean your  environment by issuing
apt-get purge opx-dell-vm opx-core
apt-get autoremove --purge
, instead of using a newly installed

[2018-10-01 19:21] nchervela commented on #52
hi,
We are trying to help you in resolving this issue.  For proof of concept, to ensure that we are starting with the same environment, pls do NOT compile your own packages until the opx-core from upstream (i.e the official 3.0.0 released version, as mentioned in your sources.list file) is installed.  Can you pls try the steps below exactly, without compiling any opx packages or copying any deb fi

[2018-10-02 05:04] jimmymagemtek commented on #52
Hi,
Thanks. This time I start with a newly installed Debian 9.5 only and then follow your instructions. But there seems to be still some errors in apt-get upgrade (nono is upgraded ) & apt-get install opx-core.
Please check the log message  below. Thanks.

root@NB03:/etc/apt# apt-get update
Ign:1 http://debian.linux.org.tw/debian stretch InRelease
Hit:2 http://debian.linux.org.tw/debian stretch Re

[2018-10-03 06:09] jimmymagemtek opened #55 "how to run OPX services after the container is running"
Hi ,
Based on Intel Atom C2538 + Cavium CNX880XX, I built OPX docker image properly according to the guide on the web ,

opx-build/scripts/opx_run opx_build all

& try to run it.

But I see no the virtual interfaces up - It seems no OPX service is up. Please check the log below.

My question is: how do I bring up OPX services when the container is run, so that I can see the virtual interfaces repr

[2018-10-03 13:29] jimmymagemtek commented on #52
Hi
Are you saying that I should try these steps:

1. add line "deb http://deb.openswitch.net/stretch 3.0.0 opx opx-non-free" in /etc/apt/sources.list
2. apt-get update and upgrade
3. apt-get install opx-dell-vm ( this is the top level package , it will install all the platform dependent and platform independent packages).

 in a container (docker) ?
Thanks.

Jimmy

[2018-10-03 18:41] jghalam commented on #52
Hi Jimmy,
Please note that we have not tested and we don't support running OPX in any environment other than:
- Supported hardware listed on https://www.openswitch.net/hardware/.
- VM based on Virtualbox without nested virtualization.

If you have success in running OPX in any other environment, please do share your success with us.
Thanks,
Joe

[2018-10-03 18:46] jghalam commented on #55
Hi Jimmy,
I'm confused as what you are reporting. Do you have build issues or running on unsupported platform issues?

If it is a build issue, please send us the build related logs.

If you are having trouble running your compiled images on a supported platform (supported hardware or virtualbox based VM), please send us relevant information about your platform, and opx-show-version info so that we

[2018-10-04 02:45] jimmymagemtek commented on #52
Hi Joe,
1) My target platform is  AS7512-32X (CPU is Intel ATOM C2538)

100G | Edgecore | AS7512-32X | 32 x 100G-QSFP28 | Cavium XPliant | 2.1.0 or above

And it is on OPX hardware support list.

2) My host platform is also AS7512-32X, too. (I installed Debian 9.5 on it).
And I tried three ways to build OPX & install it as below,
[A]  I tried to build OPX  natively & install all the deb files,  wi

[2018-10-04 04:57] jimmymagemtek opened #56 "Can't build onie installer image"
Hi
I strictly follow the guideline on OPX web site to build onie installer image.
After issuing

# get source code
repo init -u https://github.com/open-switch/opx-manifest && repo sync

# build all open-source packages
opx-build/scripts/opx_run opx_build all

The final step is

# assemble installer
opx-build/scripts/opx_run opx_rel_pkgasm.py --dist unstable \
  -b opx-onie-installer/release_bp/OPX

[2018-10-04 05:07] jghalam commented on #52
Hi Jimmy,
We support only two models:
1- Supported hardware platform (sounds like you have one already), running ONIE (see http://archive.openswitch.net for the ONIE iso file).
2- OPX in virtualized under VirtualBox (regardless of host machine).

In both cases, you'll end up with the kernel image and basic packages which are produced and targeted for OPX. Here is the latest kernel version on OPX 3

[2018-10-04 05:28] jimmymagemtek commented on #52
HI Joe,
I am interested in model 2:
     2- OPX in virtualized under VirtualBox (regardless of host machine).

Could you please provide more details for my reference ?
1) VM here refers to KVM or Oracle VirtualBox ?
2) It seems that VM is only for simulating OPX on it, am right ? Without hardware switch silicon, how do it make sense ?
3)  If I need to install OPX natively from scratch on AS7512-32

[2018-10-04 07:13] jimmymagemtek commented on #55
Hi Joe,
I do have build issue. Could you provide the steps of how to build OPX packages & install them native on AS7512-32X.  It is also OK for me  if I can install them via apt-get  from Internet.

Thanks.

Jimmy

[2018-10-05 13:02] jimmymagemtek commented on #52
Hi Joe,
I will try the installer PKGS_OPX-3.0.0-installer-x86_64.bin.

Jimmy

[2018-10-09 02:29] jimmymagemtek commented on #52
Hi
I tried to upgrade AS7512-32X with PKGS_OPX-3.0.0-installer-x86_64.bin, but since the igb driver of 3.0.0 image doesn't work, the online installation of OPX doesn't proceed.

After I fixed the driver (porting an old version  igb driver), and run the following commands:

apt-get update
apt-get upgrade
apt-get install opx-core

Every thing is fine, until  I got the same issue in the end as before

[2018-10-09 20:53] jeff-yin commented on #52
Hi @jimmymagemtek, the AS7512-32X actually needs some of its platform-specific packages to be updated by the vendor to work with OPX 3.0.0 (mainly because OPX 3.0.0 updated the underlying Debian distro to Stretch). I will reach out to the vendor.

In the meantime, to get you up and running, you can use the previous version of OPX, version 2.3.1.
http://archive.openswitch.net/installers/2.3.1/Dell-

[2018-10-09 21:45] theucke commented on #56
Please try with the Stretch blueprint.
[code]

[2018-10-10 22:13] theucke commented on #55
@jimmymagemtek 	Setting up the OPX apt repository is explained at [deb.openswitch.net](http://deb.openswitch.net/). You can then install `opx-dell-vm`.

[2018-10-11 03:41] jeff-yin commented on #52
I've reached out to Cavium and they have reached out to Gemtek for a response. It seems that they are already aware of the issue and are working it via their own ticketing system. In the meantime, let us know if 2.3.1 works out.

[2018-10-19 23:04] Tejaswi-Goel opened #59 "Unable to create OPX installer with new Linux source packages"
Unable to create new OPX installer using new Linux source packages.

**_Steps followed:_**

1. created a stretch based docker container
2. linux source deb packages present in local dir
 (linux-headers-4.9.110-custom-opx_4.9.110-custom-opx-2_amd64.deb
  linux-image-4.9.110-custom-opx_4.9.110-custom-opx-2_amd64.deb)
3. ran the command: **./opx-build/scripts/opx_rel_pkgasm.py -b opx-onie-installer/r

[2018-10-19 23:11] theucke commented on #59
The packages you downloaded have the package names `linux-*-4.9.110-custom-opx`. The blueprint only lists [linux-image-4.9.0-6-amd64](https://github.com/open-switch/opx-onie-installer/blob/master/release_bp/vendor/dell/opx_core_stretch.xml#L15). You'll need to change the package name in the blueprint for it to be picked up.

[2018-10-19 23:13] Tejaswi-Goel commented on #59
Thanks, will try it out.

[2018-10-23 20:16] #59 closed

[2018-10-24 22:52] jeff-yin commented on #33
Closing. We won't include this in the build to keep the installer size down, but users are always welcome to install their own preferred web console of choice, whether it's this or webmin or anything else.

[2018-10-24 22:52] #33 closed

[2018-10-24 22:58] #54 closed

[2018-10-24 23:09] jeff-yin commented on #52
Since no further update, closing the issue for now.

[2018-10-24 23:09] #52 closed

[2018-11-10 00:43] jeff-yin commented on #56
Closing for now; re-open if you are still facing issues.

[2018-11-10 00:43] #56 closed

[2018-12-03 10:42] sweatypolarbears opened #64 "Unable to build opx-build docker image: The command '/bin/sh -c gpg --import...' returned a non-zero code: 2"
I have been trying to create the opx-build docker image and using `./docker_build.sh` in the opx-build directory and have been getting the following error: `The command '/bin/sh -c gpg --import /usr/share/keyrings/debian-archive-keyring.gpg  && gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-key AD5073F1  && gpg --export AD5073F1 >/etc/apt/trusted.gpg.d/opx-archive-keyring.gpg' returned a non

[2018-12-04 16:32] theucke commented on #64
The `docker run` invocation in `docker_build.sh` does *not* include the `--tty` flag, but you'd think this would have been seen before. What version of Docker are you running? You can check with `docker version`. Additionally, what OS/OS version are you running?

I'll go and try to reproduce this, but in the meantime you can either use the prebuilt Docker image `opxhub/build:stretch` or modify [li

[2018-12-04 17:48] theucke commented on #55
There's been no update for almost two months, closing.

[2018-12-04 17:48] #55 closed

[2018-12-05 07:42] sweatypolarbears commented on #64
Hi, I'm using Ubuntu 16.04 and my Docker version is 17.03.2 -ce on both server and client. I did try to modify the dockerfile to say `gpg --no-tty ... ` but I'm getting the same error. I'll try to use the prebuilt Docker image as you have suggested. Thanks!

[2019-01-11 21:47] mwheatley2 commented on #64
Hi, did using the prebuilt Docker image work for you?

[2019-01-14 07:33] sweatypolarbears commented on #64
Hello, I tried using the prebuilt Docker image and proceeding but since I'm a beginner at Openswitch, I wasn't quite able to figure out how to use it. I did manage to fix the dockerfile to say "gpg --no-tty..." and build a Docker image of my own and get it running.

[2019-02-06 00:24] mapatel7 commented on #64
In docker builds, there is an open issue with Debian that gpg goes into an interactive mode and hence passing --batch would fix the issue. It is better to use '--batch' than '--no-tty'. I have tested it and it works, i will create a pull request to change the Dockerfile.

Thanks,
Mithil

[2019-02-11 19:28] mapatel7 commented on #64
The pull request has been merged and the issue is resolved.

[2019-02-11 19:28] #64 closed

[2019-03-13 00:18] hpersh opened #70 "Easier debug builds"
Propagate the CFLAGS and CXXFLAGS environment variables from the "outer" shell to inside the docker, so that when it runs dpkg-buildpackage (or whatever), it will pick them up.

This would save a lot of contortions need to make debuggable packages.

[2019-10-02 12:42] msarig opened #73 "Failed to build an installer file for OPX 3.2.0"
I'm trying to build an installer file as explained in [https://github.com/open-switch/opx-build/blob/master/README.md#installation](https://github.com/open-switch/opx-build/blob/master/README.md#installation). The error occurs during the command:
[code]
The final error message is:
[code]
In the output I notice an error related to gpg:
[code]
The host machine has full Internet connectivity.
[opx-bu

[2019-10-02 17:40] jeff-yin commented on #73
@mapatel7 can you look into this?

[2019-10-02 18:28] jeff-yin commented on #73
@msarig I know you said your host machine has full Internet connectivity, but it looks like it's failing while trying to connect to the Ubuntu keyserver, at this step:
`sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys AD5073F1`

You may need to troubleshoot why the above command doesn't work on your host. Perhaps the hkp connections are being restricted? Destination port tcp|

[2019-10-02 18:36] msarig commented on #73
Hi Jeff.
Thanks for looking into this.
When I run the command manually, it succeeds:

[code]
Also `tcpdump` shows approx 20 packets in the background transferred between my host and `keyserver.ubuntu.com`

[2019-10-03 22:34] mapatel7 commented on #73
Hi @msarig ,

Does this by any chance happen in a fresh workspace? By a new workspace, i mean clone the both repos: 'opx-build' and 'opx-onie-installer' and run this command again. Does it still show you the same error?

Let me know.

[2019-10-04 08:57] msarig commented on #73
Hi @mapatel7 ,
Even in a fresh workspace the command produces the same error message.

[2019-10-04 18:01] mapatel7 commented on #73
Hi @msarig ,

Run the 'opx_run' script without any parameter, then inside the container do the following steps:

sudo apt-get update
sudo apt-get install -y curl dirmngr
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys AD5073F1

Do you see any error while doing this?

[2019-10-04 18:18] msarig commented on #73
Hi @mapatel7
No errors while running the commands:
[code]

[2019-10-08 08:42] msarig commented on #73
Sure, here you are: [opx_build_installer.txt](https://github.com/open-switch/opx-build/files/3701487/opx_build_installer.txt)
The `do_apt_upgrade_sh` script is running inside a chroot environment, right? How can I reproduce this manually?

[2019-10-08 08:50] msarig commented on #73
Note: I started a wireshark session in the background. When the script reaches this line:
[code]
there are no packets visible to the keyserver. When I run the `apt-key` command manually in the docker container, Wireshark shows 15 packets containing the key transfer.
I hope this information is helpful.

[2019-10-08 19:06] mapatel7 commented on #73
Hi @msarig ,

At this moment, i feel that this is a DNS issue for you. Can you share what is in your /etc/resolv.conf'?

[2019-10-08 19:31] msarig commented on #73
Hi @mapatel7 ,
I'm using a local DNS server which is running `dnsmasq`. My DNS settings in `/etc/resolv.conf` is:
[code]
Since you mentioned a possible DNS issue, I changed the DNS settings to use the Google DNS server at 8.8.8.8, but the result is the same.

[2019-12-18 11:05] davidgengenbach opened #74 "Compatibility to AS5712"
Switch: Accton AS5712-54x
ONIE: 2015.11

I naively tried installing OPX using ONIE with the installer provided at https://archive.openswitch.net/installers/3.2.0/Dell-EMC/PKGS_OPX-3.2.0-installer-x86_64.bin

When installing using the `onie-rescue` mode, I only get the following output - after reboot, the system is unchanged:

[code]

I guess this build is only for DELL-EMC? Are there pre-built ins

[2019-12-18 15:44] jghalam commented on #74
Hi David,
Here is the list of compatible hardware for OPX:
https://www.openswitch.net/hardware/ <https://www.openswitch.net/hardware/>

As you can see on the compatibility list, the Edgecore (Acton) platform supported today is "AS7512-32X”. The platform you’re trying is not supported.

In general, onboarding a platform on OPX is not a very lengthy/difficult process, but it does require the manufac

[2019-12-21 10:24] davidgengenbach commented on #74
Thanks for your answer!
Are there any (serious) efforts porting OPX for non-Dell hardware? From the 22 supported devices, 21 are from Dell. This seems like vendor lock-in again?

Regarding my second question: where can I find old releases of OpenSwitch (OPS not OPX)?

[2019-12-21 18:31] jghalam commented on #74
Hi David,
The procedure to onboard a platform is fairly straightforward as long as
the NPU is the same or already supported. If the NPU is different, you need
to contact Edgecore for the code since the NPU related code is always the
biggest challenge to obtain. Here is the guide to port a new platform for
OPX:
https://github.com/open-switch/opx-docs/wiki/OPX-porting-guide

On you comment about “Ve

[2020-01-19 11:27] alimodarresi opened #75 "Error building OPX: gbp:error: 'git-pbuilder' failed: it exited with 1"
Hi.
I have followed the instructions and built OPX 3.1.0 and I am getting this error multiple times:

 **W: /home/opx/.pbuilderrc does not exist**

and this error at the end:

gbp:error: 'git-pbuilder' failed: it exited with 1

can someone help me?

[2020-01-19 11:30] alimodarresi opened #76 "Installing OPX"
Hi.
I have read the instruction for installing OPX on DELL hardware. Can someone give me more detailes?
Like which directories do i have to use for installation?

thanks

[2020-01-21 03:43] jghalam commented on #76
Could you please provide more information about the hardware platform and how you’re installing OPX? Are you using ONIE to perform installation? What does your setup look like?

Thanks

[2020-01-22 04:01] alimodarresi commented on #76
I am trying to install OPX on S4048-ON and I am using ONIE.
I have built OPX 3.1.0 and now I have the binary. I didn't run the ./docker_build.sh because I dont know what it will do. If you know I will appreciate it if you tell me. I was following instruction from link below.
https://github.com/open-switch/opx-build/

[2020-01-23 12:46] gunasekaran-t commented on #76
Hi,

If you have the installer image you can follow ONIE install steps https://opencomputeproject.github.io/onie/cli/index.html#onie-nos-install
or use ONIE image discovery option https://opencomputeproject.github.io/onie/design-spec/discovery.html

Thanks

[2020-01-26 07:33] alimodarresi commented on #73
Hi  @msarig
did you resolve this problem?
I am also trying to build OPX 3.1.0 or 3.1.0. But while trying to create onie installer i am getting the same error. Can you help me fix it?

[2020-01-27 19:19] msarig commented on #73
Hi @alimodarresi
sorry, no progress since.
I wasn't able to fix it myself, that' s why I reach out for help here...

[2020-01-28 03:54] alimodarresi commented on #73
Thanks @msarig  .
@jeff-yin can you help us?

[2020-01-28 07:29] alimodarresi commented on #73
Hi @mapatel7
I am getting the same error building OPX 3.0.0 , 3.1.0 and 3.2.0 stable versions. Can you help me, please?

[2020-01-29 13:35] mikelazar commented on #73
We'll take another look into into this. There may still be something strange with DNS or accessing a specific web server.

[2020-01-30 12:08] gunasekaran-t commented on #75
@alimodarresi , could you confirm if you are still facing issue. In #76 you have mentioned that you are able to build the image. If the problem still exits please share the step followed.

[2020-01-30 12:17] alimodarresi commented on #75
Hi @gunasekaran-t
yes i am still facing this issue

[2020-01-30 12:30] gunasekaran-t commented on #75
@alimodarresi Could you please share the steps you followed after checking out the repos. Preferably a log file.

[2020-01-30 12:40] alimodarresi commented on #75
@gunasekaran-t  yes of course
I've downloaded source codes using

repo init -u https://github.com/open-switch/opx-manifest && repo sync

and then I run the below command

sudo OPX_RELEASE=3.1.0 opx-build/scripts/opx_run opx_build all

and i am getting the mentioned error.
If i get more infoemation i will lert you know.
thanks for helping

[2020-02-01 07:53] alimodarresi commented on #75
Hi @gunasekaran-t
after running

sudo opx-build/scripts/opx_run opx_rel_pkgasm.py --dist stable  -b opx-onie-installer/release_bp/OPX_dell_base_stretch.xml

i am getting these logs:

fetching http://archive.openswitch.net/rootfs/opx-rootfs_1.2.0-stretch_amd64.tar.gz ...
tar_in(self, /tmp/tmpsMDJKk, /)
tar_in(['fakeroot', '-i', '/tmp/tmp2y7Ze5', '-s', '/tmp/tmp2y7Ze5', 'tar', '-C', '/tmp/tmpgVayMn/

[2020-02-01 08:05] disaster123 commented on #75
The current opx release is still tagged unstable since month. Have you tried to build using unstable?

[2020-02-01 08:46] alimodarresi commented on #75
Hi @disaster123
yes i have tried that and i have built successfully using that.
but i am wondering what is the difference between stable and unstable?
and why i can't build using stable tag?

if you can help me i will appreciate it.
thanks

[2020-02-01 08:48] disaster123 commented on #75
ASK dell but as far as I know stable is outdated and no longer supported. Somebody at dell has missed to move the last release from unstable to stable

[2020-02-01 08:53] alimodarresi commented on #75
Thanks for your time sir.

[2020-02-04 06:26] gunasekaran-t commented on #75
@disaster123 Thanks for helping out.
Yes it seems there are few things missed for last few releases. Will try to sort it out upcoming releases.

@alimodarresi meanwhile please -dist 3.2.0 or -dist unstable for opx_rel_pkgasm.py. 3.2.0 worked for me.

[2020-02-16 03:58] alimodarresi commented on #76
hi @gunasekaran-t .
I have some problems with building kernel source for OPX. Can you help me please?

[2020-02-16 08:51] alimodarresi opened #77 "Kernel include directory"
Hi. I am following the https://github.com/open-switch/opx-build and building OPX for dell 4048ON. But in the installed OPX there is no include directory in kernel. actually kernel is not complete. I want to write a kernel module hello world and I can't do it. What I am missing here?

[2020-02-17 05:36] gunasekaran-t commented on #76
@alimodarresi yes, please provide the details. I will try if I can help.

[2020-02-17 05:48] gunasekaran-t commented on #77
@alimodarresi Generally header files are not included as part of installation. However any required package can be installed via apt.

For OPX compilation happens inside a docker and any dependency packages required to build a  particular package should be mentioned as 'Build-Depends' in debian/control file. You can take a look at the existing opx repos for sample.

[2020-02-18 04:31] alimodarresi commented on #76
Thanks @gunasekaran-t .
Which kernel source do I have to build and which toolchains do I have to use?
And how can I build OPX on top of that?

[2020-02-18 09:24] gunasekaran-t commented on #76
@alimodarresi , please refer https://github.com/open-switch/opx-linux-config

[2020-02-18 09:36] gunasekaran-t commented on #73
@msarig can you try with `--dist 3.2.0` or `--dist unstable` and see if the issue still occurs.

[2020-02-18 10:10] alimodarresi commented on #73
Hi @gunasekaran-t  .
This worked for me. Thank you.

[2020-02-19 08:34] alimodarresi commented on #77
@gunasekaran-t  Can you give me a link of the headers that I have to install. I want to install it manually.
Thanks

[2020-02-19 12:05] gunasekaran-t commented on #77
@alimodarresi you can do `apt-get install linux-headers-$(uname -r)`. It will install linux header files for the current linux kernel version which is 4.9.110 for opx.

[2020-02-25 04:09] lbliu opened #78 "cp: preserving permissions for '/var/cache/pbuilder/build/cow.159/build/opx-cps_3.6.4.dsc': Operation not supported"
lbliu@lbliu-PC:~/project/OPX$ opx-build/scripts/opx_run opx_build opx-cps
dpkg-scanpackages: info: Wrote 0 entries to output Packages file.
gbp:info: Building with (cowbuilder) for stretch:amd64
Building with cowbuilder for distribution stretch, architecture amd64
Source format 1.0 detected, adding exclude flags
+ pdebuild --buildresult /tmp/tmp.K59aBskna9 --pbuilder cowbuilder --debbuildopts '-i'

[2020-02-25 04:13] #78 closed

[2020-03-06 14:12] #76 closed

[2020-03-06 14:12] mikelazar commented on #76
@alimodarresi  Please reopen if you have any other questions - or if this still does not work. Thank you.

[2020-03-06 14:17] #73 closed

[2020-03-06 14:17] mikelazar commented on #73
Assuming that this is fixed. Please reopen (or open another issue) if there are still problems.

[2020-03-06 14:19] mikelazar commented on #75
Assuming that this is taken care of (e.g. use --dist 3.2.0). Please reopen (or open another issue) if there are still problems.

[2020-03-11 16:38] alimodarresi commented on #77
Thanks @gunasekaran-t  I have installed the headers by your help. Can you tell me which toolchain I can use to croos compile kernel module for OPX?
Or can you give me a guide on this topic?

[2020-03-14 08:52] alimodarresi commented on #77
@gunasekaran-t and also where can I find kernel source for OPX?

[2020-03-16 06:08] gunasekaran-t commented on #77
@alimodarresi easiest approach is to use docker for compilation. opx packages are built using opxhub/build docker image.

For linux kernel details you can refer https://github.com/open-switch/opx-linux-config

[2020-04-16 06:00] gunasekaran-t commented on #75
With release 3.2.1 stable distribution also should compile fine.

[2020-06-29 20:01] grantcurell opened #79 "Instructions out of date?"
It looks like the instructions are out of date. Ex:

[code]

When I go and check my blueprints I see:

[code]

I just started troubleshooting, but at a glance running the assembly process fails:

[code]

[2020-06-30 15:41] grantcurell commented on #79
Pull request to address this added here: https://github.com/open-switch/opx-build/pull/81

[2020-06-30 17:54] #79 closed

[2020-12-05 13:47] mimo123-code opened #82 "Integrating openswitch with 5G core"
Hello I want to integrate my open source 5G core with openswitch to analyse and route the traffic . Can anyone help me in integrating my core with openswitch